<!DOCTYPE html>
<html ng-app="appycab">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angularjs-toaster/toaster.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-native-picker/build/themes/default.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-native-picker/build/themes/default.date.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-native-picker/build/themes/default.time.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />


        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/tg-angular-validator/dist/angular-validator.min.js"></script>
        <script type="text/javascript" src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script type="text/javascript" src="bower_components/angularjs-toaster/toaster.js"></script>
        <script type="text/javascript" src="bower_components/ngDialog/js/ngDialog.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-native-picker/build/angular-datepicker.js"></script>
        <script type="text/javascript" src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <title>Appy Cab</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="javascript:;" class="btn btn-custom btn-sm navbar-brand" ng-click="back()" ng-show="backButton">
                  <i class="fa fa-chevron-left"></i>
              </a>
              <span class="navbar-brand">{{ page_title }}</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li ng-show="hasDetails"><a href="#/details" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">MY DETAILS</a></li>
                <li ng-show="hasDetails"><a href="#/take-me-home-now" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">TAKE ME HOME</a></li>
                <li ng-show="hasDetails"><a href="#/pick-me-from-here-now" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">PICK ME UP FROM HERE</a></li>
                <li ng-show="hasDetails"><a href="#/book-a-different-cab-journey" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">BOOK A DIFFERENT CAB JOURNEY</a></li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CONTACT US <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">User feedback</a></li>
                        <li><a href="#">I'm a cab company and I want to find out more</a></li>
                    </ul>
                </li>
                <!-- <li><a href="#" class="exitApp">EXIT</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <toaster-container toaster-options="{'time-out': 4000, 'close-button':true, 'position-class': 'toast-bottom-full-width'}"></toaster-container>
        
        <div class="container {{ pageClass }}" ng-view></div>

        <script type="text/ng-template" id="modalDialogId">
            <div class="ngdialog-message">
                <h3>Cancel Booking</h3>
                <p>Are you sure you want to cancel your cab?</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm Cancellation</button>
                <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">No</button>
            </div>
        </script>
        <!--email required template for modal -->
        <script type="text/ng-template" id="email_required_modal">
            <div class="ngdialog-message">
                <h3>Email Required</h3>
                <p>your email address is required so we can send you a verification email and also keep in contact with you as AppyCab develops and new services are included</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">OK</button>
            </div>
        </script>

        <!--mobile required template for modal -->
        <script type="text/ng-template" id="mobile_required_modal">
            <div class="ngdialog-message">
                <h3>Mobile Required</h3>
                <p>your mobile phone number is required to enable us to send text messages to you when you are booking a cab.</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">OK</button>
            </div>
        </script>

        <!--address required template for modal -->
        <script type="text/ng-template" id="address_required_modal">
            <div class="ngdialog-message">
                <h3>Home Address Required</h3>
                <p>your home address is required so you can use the features which enable you to quickly order a cab to or from your home.</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">OK</button>
            </div>
        </script>


        <!--terms and condition modal -->
        <script type="text/ng-template" id="terms_and_condition_modal">
            <div class="ngdialog-message">
                <h3>Terms and Conditions for the Use of the AppyCab Taxi Ordering Smart Phone Application.</h3>
                
                <br />
                <ol type="1">
                    <li>The AppyCab system is provided for use by Provincial Travel Booking Systems Ltd.</li>
                    <li>In Version 2, The AppyCab system will automatically select the nearest and / or quickest cab to get to the pickup location as identified in the taxi ordering process.</li>
                    <li>In Version 2 passengers will be able to identify a "Favourite" taxi company which will always receive priority, as long as the favourite taxi company has responded to the request.</li>
                    <li>In Version 2 passengers will be able to track the progress of their taxi and monitor the arrival time.</li>
                    <li>Once a taxi has been booked through the AppyCab system, the system will provide the contact details of the selected cab company to the passenger, as well as providing the passenger details to the taxi company.  The passenger has the opportunity to cancel or change the booking immediately after and within 30 seconds of making the booking using the AppyCab app.</li>
                    <li>The AppyCab system relies upon the response time provided by the taxi company. Taxi companies are warned of their potential exclusion from the system should their response times be persistently optimistic. However, Provincial Travel Booking Systems Ltd. accepts no liability of any losses incurred due to the late arrival of a taxi booked through the AppyCab system.</li>
                </ol>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="agreedToTermsAndCondition()">I agree</button>
            </div>
        </script>


        <script type="text/javascript">

        // $(".exitApp").on("click", function(e) {
        //     e.preventDefault();
        //     navigator.app.exitApp();
        // });

        // document.addEventListener("deviceready", onDeviceReady, false);
        // function onDeviceReady() {
        //     document.addEventListener("backbutton", function (e) {
        //         e.preventDefault();
        //     }, false );

        //     if(navigator.connection.type==0)
        //     {
        //         alert('This application requires internet. Please connect to the internet.');
        //         navigator.app.exitApp();
        //     }
        //     else if(navigator.connection.type=='none')
        //     {
        //         alert('This application requires internet. Please connect to the internet.');
        //         navigator.app.exitApp();
        //     }
        //     else
        //     {
        //         //Hurray I'm online
        //     }
        // }


        </script>


    </body>
</html>
