<!DOCTYPE html>
<html ng-app="appycab">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angularjs-toaster/toaster.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-native-picker/build/themes/default.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-native-picker/build/themes/default.date.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-native-picker/build/themes/default.time.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />


        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/tg-angular-validator/dist/angular-validator.min.js"></script>
        <script type="text/javascript" src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script type="text/javascript" src="bower_components/angularjs-toaster/toaster.js"></script>
        <script type="text/javascript" src="bower_components/ngDialog/js/ngDialog.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-native-picker/build/angular-datepicker.js"></script>
        <script type="text/javascript" src="bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/crafty_postcode_big.class.js"></script>
        <script>
            var cp_access_token = "71c9b-ab8b5-82a6a-01253 "; // ***** DON'T FORGET TO PUT YOUR ACCESS TOKEN HERE IN PLACE OF X's !!!! *****
            var cp_obj_1 = CraftyPostcodeCreate();
            // generic setup
            cp_obj_1.set("access_token", cp_access_token);
            cp_obj_1.set("first_res_line", "----- please select your address ----");
            cp_obj_1.set("res_autoselect", "0");
            cp_obj_1.set("result_elem_id", "crafty_postcode_result_display_1");
            cp_obj_1.set("form", "myForm");
            //cp_obj_1.set("elem_company"  , "companyname"); // optional
            cp_obj_1.set("elem_house_num", "streetnumber");
            cp_obj_1.set("elem_street1", "address1");
            cp_obj_1.set("elem_street2", "address2"); // optional, but highly recommended
            //cp_obj_1.set("elem_street3"  , "address3"); // optional
            cp_obj_1.set("elem_town", "town");
            cp_obj_1.set("elem_county", "county"); // optional
            cp_obj_1.set("elem_postcode", "postcode");
            //cp_obj_1.set("elem_udprn"    , "udprn"); // optional
            cp_obj_1.set("single_res_autoselect", 1); // dont show a drop down box if only one matching address is found

            // house name/num search setup
            //cp_obj_1.set("elem_search_house" , "streetnumber");

            cp_obj_1.set("on_result_ready", sampleFunc);
            cp_obj_1.set("on_result_selected", sampleFunc2);
            cp_obj_1.set("on_error", sampleFunc);

            cp_obj_1.set("single_res_notice", ""); // set this to get rid of the ---- address found, see below ---- message


            function sampleFunc() {
                if (!$('#crafty_postcode_result_display_1').is(':empty')) {
                    $('#crafty_postcode_result_display_1').addClass("marginTop15");
                }

                if ($("#address2").val() == '' && $("#town").val() != '') {
                    $("#address2").val($("#town").val());
                }
            }

            function sampleFunc2() {
                if ($("#address2").val() == '' && $("#town").val() != '') {
                    $("#address2").val($("#town").val());
                }
                var scope = angular.element($("#myForm")).scope();
                scope.$apply(function() {
                    scope.client.house_number = $("#streetnumber").val();
                    scope.client.address_line1 = $("#address1").val();
                    scope.client.address_line2 = $("#address2").val();
                    scope.client.county = $("#county").val();
                    scope.client.address = $("#streetnumber").val() + ' ' + $("#address1").val() + ', ' + $("#address2").val() + ', ' + $("#county").val() + ', ' + $("#postcode").val() + ', UK';
                });
            }
      </script>
        <title>Appy Cab</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="javascript:;" class="btn btn-custom btn-sm navbar-brand" ng-click="back()" ng-show="backButton">
                  <i class="fa fa-chevron-left"></i>
              </a>
              <span class="navbar-brand">{{ page_title }}</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li ng-show="hasDetails"><a href="#/details" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">MY DETAILS</a></li>
                <li ng-show="hasDetails"><a href="#/take-me-home-now" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">TAKE ME HOME</a></li>
                <li ng-show="hasDetails"><a href="#/pick-me-from-here-now" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">PICK ME UP FROM HERE</a></li>
                <li ng-show="hasDetails"><a href="#/book-a-different-cab-journey" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">BOOK A DIFFERENT CAB JOURNEY</a></li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CONTACT US <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/contact-user-feedback" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">User feedback</a></li>
                        <li><a href="#/contact-cab-company" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">I'm a cab company and I want to find out more</a></li>
                    </ul>
                </li>
                <li ng-show="hasDetails" ng-controller="TCController"><a ng-click="openTC()" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">TERMS AND CONDITIONS</a></li>
                <li ng-show="hasDetails"><a href="#/about" class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">ABOUT APPYCAB</a></li>

                <!-- <li><a href="#" class="exitApp">EXIT</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        
        <toaster-container toaster-options="{'time-out': 4000, 'close-button':true, 'position-class': 'toast-bottom-full-width'}"></toaster-container>
        
        <div class="container {{ pageClass }}" ng-view></div>

        <script type="text/ng-template" id="modalDialogId">
            <div class="ngdialog-message">
                <h3>Cancel Booking</h3>
                <p>Are you sure you want to cancel your cab?</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm Cancellation</button>
                <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">No</button>
            </div>
        </script>
        <!--email required template for modal -->
        <script type="text/ng-template" id="email_required_modal">
            <div class="ngdialog-message">
                <h3>Email Required</h3>
                <p>your email address is required so we can send you a verification email and also keep in contact with you as AppyCab develops and new services are included</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">OK</button>
            </div>
        </script>

        <!--mobile required template for modal -->
        <script type="text/ng-template" id="mobile_required_modal">
            <div class="ngdialog-message">
                <h3>Mobile Required</h3>
                <p>your mobile phone number is required to enable us to send text messages to you when you are booking a cab.</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">OK</button>
            </div>
        </script>

        <!--address required template for modal -->
        <script type="text/ng-template" id="address_required_modal">
            <div class="ngdialog-message">
                <h3>Home Address Required</h3>
                <p>your home address is required so you can use the features which enable you to quickly order a cab to or from your home.</p>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog('button')">OK</button>
            </div>
        </script>


        <!--terms and condition modal -->
        <script type="text/ng-template" id="terms_and_condition_modal">
            <div class="ngdialog-message">
                <h3>Terms and Conditions for the Use of the AppyCab Taxi Ordering Smart Phone Application.</h3>
                
                <br />
                <ol type="1">
                    <li>The AppyCab system had been developed by Provincial Travel Booking Systems Ltd.</li>
                    <li>Once a taxi has been booked through the AppyCab system, the system will provide the

contact details of the selected cab company to the passenger, as well as providing the 

passenger details to the taxi company.  The passenger has the opportunity to cancel or 

change the booking immediately after and within 30 seconds of making the booking using 

the AppyCab app. If changes to the booking need to be made after this time passengers 

should notify the taxi company directly.</li>
                    <li>The AppyCab system relies upon the response time provided by the taxi company. Provincial

Travel Booking Systems Ltd. accepts no liability of any losses incurred due to the late arrival 

of a taxi booked through the AppyCab system.</li>
                </ol>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="agreedToTermsAndCondition()">I agree</button>
            </div>
        </script>

        <!--already registered template for modal -->
        <script type="text/ng-template" id="already_registered">
            <div class="ngdialog-message">
                <h3>Already Registered</h3>
                <div class="row">
                    <div class="col-md-12">
                    <form angular-validator-submit="sendCode()" name="myForm" class="form-horizontal" novalidate angular-validator>
                        <div class="form-group" style="margin-top:15px">
                            <label class="col-sm-12 control-label" style="font-weight:normal">Enter your registered mobile number</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input 
                                    name="mobile"
                                    type="text" 
                                    validate-on="dirty" 
                                    ng-model="already_registered.mobile"
                                    class="form-control" 
                                    placeholder="Mobile number"
                                    required-message="'This field is required.'"
                                    ng-pattern="/^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?\#(\d{4}|\d{3}))?$/"
                                    invalid-message="'Please enter valid UK mobile number'"
                                    required />

                                    <span class="input-group-btn" style="vertical-align:top">
                                        <button class="btn btn-warning" type="submit">Send Code</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                    <form angular-validator-submit="activateCode()" name="myForm2" class="form-horizontal" novalidate angular-validator>
                        <div class="form-group" style="margin-top:15px">
                            <label class="col-sm-12 control-label" style="font-weight:normal">Already have the code?</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input 
                                    name="code"
                                    type="text" 
                                    validate-on="dirty" 
                                    ng-model="already_registered.activation_code"
                                    class="form-control" 
                                    placeholder="Code"
                                    required-message="'This field is required.'"
                                    required />

                                    <span class="input-group-btn" style="vertical-align:top">
                                        <button class="btn btn-success" type="submit">Submit <i class="fa fa-check"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </script>


        <script type="text/javascript">


        </script>


    </body>
</html>
