<div class="row">
    <div class="col-md-12" style="text-align:center">
        <img src="img/logo.png" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12" style="text-align:center">
        <b>YOUR CAB IS BOOKED!</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12" style="text-align:center">
        You may change or cancel<br>this booking within<br><b style="color:red;font-size:25px"><timer countdown="60" interval="1000" finish-callback="callbackTimer.finished()">{{seconds}}</timer></b><br>seconds
    </div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg" ng-click="changeBooking()">CHANGE BOOKING</button>
    </div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg" ng-click="openConfirm()">CANCEL BOOKING</button>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>Journey details:</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>FROM: {{ journey_from_address }}</b>
    </div>
</div>

<div ng-show="journey_from_address!=journey_to_address" class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>TO: {{ journey_to_address }}</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>DATE & TIME: {{ journey_date_time }}</b>
    </div>
</div>