<div class="row" ng-hide="hasDetails">
    <div class="col-md-12" style="text-align:center">
        <img src="img/logo.png" width="50%" />
    </div>
</div>
<div class="row" ng-hide="hasDetails" style="margin-top:15px">
     <div class="col-md-12" style="text-align:center">
        <a class="btn btn-warning" ng-click="alreadyRegistered()">Already registered?</a>
    </div>
</div>
<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b ng-hide="hasDetails">In order to use our services you will need to register with us.</b>
        <b ng-show="hasDetails">Below are your registration details. Please update anything that is not correct.</b>
    </div>
</div>

<form angular-validator-submit="process()" name="myForm" id="myForm" class="form-horizontal" novalidate angular-validator>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">First Name:</label>
    <div class="col-sm-6">
        <input type = "text"
            name = "fname"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.fname"
            required-message="'This field is required.'"
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Surname:</label>
    <div class="col-sm-6">
        <input type = "text"
            name = "lname"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.lname"
            required-message="'This field is required.'"
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Email: <i ng-click="emailRequiredModal()" class="fa fa-question-circle" style="font-size:20px;color:#FF8629"></i></label>
    <div class="col-sm-6">
        <input type = "email"
            name = "email"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.email"
            invalid-message="'invalid email address'"
            required-message="'This field is required.'"
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Mobile No.: <i ng-click="mobileRequiredModal()" class="fa fa-question-circle" style="font-size:20px;color:#FF8629"></i></label>
    <div class="col-sm-6">
        <input type = "text"
            name = "mobile"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.mobile"
            required-message="'This field is required.'"
            
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Post Code:</label>
    <div class="input-group" style="padding-left:15px;padding-right:15px">
        <input 
            validate-on="dirty" 
            required-message="'This field is required.'" 
            type="text" 
            name="postcode" 
            id="postcode" 
            ng-model="client.postcode"
            class="form-control" 
            placeholder="Postcode" 
            required 
            autocomplete="off">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="cp_obj_1.doHouseSearch();">Find my address</button>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" id="crafty_postcode_result_display_1"></div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">House name/number:</label>
    <div class="col-sm-6">
        <input 
            type="text" 
            name="streetnumber" 
            id="streetnumber" 
            ng-model="client.house_number"
            validate-on="dirty" 
            required-message="'This field is required.'" 
            class="form-control" 
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Address Line 1:</label>
    <div class="col-sm-6">
        <input 
            type="text" 
            name="address1" 
            id="address1" 
            ng-model="client.address_line1"
            validate-on="dirty" 
            required-message="'This field is required.'" 
            class="form-control" 
            required>

    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Address Line 2:</label>
    <div class="col-sm-6">
        <input 
            type="text"
            name="address2" 
            id="address2" 
            ng-model="client.address_line2"
            validate-on="dirty" 
            required-message="'This field is required.'" 
            class="form-control" 
            required>
            
            <input type="hidden" value="" name="town" id="town">
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">County:</label>
    <div class="col-sm-6">
        <input 
            type="text"
            name="county" 
            id="county" 
            ng-model="client.county"
            validate-on="dirty" 
            required-message="'This field is required.'" 
            class="form-control" 
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Home Address: <i ng-click="addressRequiredModal()" class="fa fa-question-circle" style="font-size:20px;color:#FF8629"></i></label>
    <div class="col-sm-6">
        <input type = "text"
            name = "address"
            id="client_address"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.address"
            required-message="'This field is required.'"
            ng-pattern="/(([A-Z]{1,2}[0-9]{1,2})|([A-Z]{1,2}[0-9][A-Z]))\s?([0-9][A-Z]{2})/i"
            invalid-message="'Please enter valid UK address with postcode'"
            placeholder="Enter your postcode"
            required
            readonly="readonly">
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg">Continue <i class="fa fa-arrow-circle-o-right"></i></button>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>This map confirms your home address.</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <map center="{{ client.address==null ? 'petersfield, uk':client.address }}" on-dblclick="changedPosition(event);" disable-double-click-zoom="true">
          <marker 
          position="{{ client.address==null ? 'petersfield, uk':client.address }}" 
          draggable="true"
          on-dragend="markerDropped();"
          on-position_changed="markerDropped2();"
        ></marker>
        </map>
    </div>
</div>

</form>

<div class="row" style="margin-top:15px">
</div>