<div class="row" ng-hide="hasDetails">
    <div class="col-md-12" style="text-align:center">
        <img src="img/logo.png" width="50%" />
    </div>
</div>
<div class="row" ng-hide="hasDetails" style="margin-top:15px">
     <div class="col-md-12" style="text-align:center">
        <a class="btn btn-warning" ng-click="alreadyRegistered()">Already registered?</a>
    </div>
</div>
<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b ng-hide="hasDetails">In order to use our services you will need to register with us.</b>
        <b ng-show="hasDetails">Below are your registration details. Please update anything that is not correct.</b>
    </div>
</div>

<form angular-validator-submit="process()" name="myForm" class="form-horizontal" novalidate angular-validator>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">First Name:</label>
    <div class="col-sm-6">
        <input type = "text"
            name = "fname"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.fname"
            required-message="'This field is required.'"
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Surname:</label>
    <div class="col-sm-6">
        <input type = "text"
            name = "lname"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.lname"
            required-message="'This field is required.'"
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Email: <i ng-click="emailRequiredModal()" class="fa fa-question-circle" style="font-size:20px;color:#FF8629"></i></label>
    <div class="col-sm-6">
        <input type = "email"
            name = "email"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.email"
            invalid-message="'invalid email address'"
            required-message="'This field is required.'"
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Mobile No.: <i ng-click="mobileRequiredModal()" class="fa fa-question-circle" style="font-size:20px;color:#FF8629"></i></label>
    <div class="col-sm-6">
        <input type = "text"
            name = "mobile"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.mobile"
            required-message="'This field is required.'"
            
            required>
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-6 control-label">Home Address: <i ng-click="addressRequiredModal()" class="fa fa-question-circle" style="font-size:20px;color:#FF8629"></i></label>
    <div class="col-sm-6">
        <input type = "text"
            name = "address"
            id="client_address"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.address"
            required-message="'This field is required.'"
            ng-pattern="/(([A-Z]{1,2}[0-9]{1,2})|([A-Z]{1,2}[0-9][A-Z]))\s?([0-9][A-Z]{2})/i"
            invalid-message="'Please enter valid UK address with postcode'"
            placeholder="Enter your postcode"
            required>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg">Continue <i class="fa fa-arrow-circle-o-right"></i></button>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>This map confirms your home address.</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <map center="{{ client.address==null ? 'petersfield, uk':client.address }}" on-dblclick="changedPosition(event);" disable-double-click-zoom="true">
          <marker 
          position="{{ client.address==null ? 'petersfield, uk':client.address }}" 
          draggable="true"
          on-dragend="markerDropped();"
          on-position_changed="markerDropped2();"
        ></marker>
        </map>
    </div>
</div>

</form>

<div class="row" style="margin-top:15px">
</div>