<div class="row" style="margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <img src="img/logo.png" />
    </div>
</div>

<div ng-hide="email_activated" class="alert alert-warning" role="alert">Your email is not yet activated. <a ng-click="activateNow()" class="btn btn-custom btn-sm">Activate now!</a></div>

<div class="row" style="margin-top:15px">
    <div class="col-md-6">
        <b>ENTER DESTINATION ADDRESS: <i class="fa fa-map-marker" style="font-size:25px;color:#00e64d"></i></b>
    </div>
    <div class="col-md-6">
        <input type="text" ng-model="client.to_address" id="client_address_to" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-6">
        <b>CONFIRM PICK UP ADDRESS: <i class="fa fa-map-marker" style="font-size:25px;color:#fd7567"></i></b>
    </div>
    <div class="col-md-6">
        <input type="text" ng-model="client.from_address" id="client_address_from" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>This map confirms your pick up address. You can move the pin to adjust your pick up address.</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <map center="{{ client.from_address }}" on-dblclick="changedPositionFrom(event);" disable-double-click-zoom="true">
          <marker 
          position="{{ client.from_address }}"
          title="PICKUP HERE"
          draggable="true"
          icon="http://maps.google.com/mapfiles/ms/icons/red-dot.png"
          on-dragend="markerDroppedFrom();">
          </marker>

          <marker 
          position="{{ client.to_address }}" 
          title="DESTINATION HERE"
          draggable="true"
          icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
          on-dragend="markerDroppedTo();">
          </marker>

        </map>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>When:</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-7">
        <label class="control-label">Date</label>
        <input type="text" pick-a-date="date" pick-a-date-options="{ format: 'dd/mm/yyyy' }" ng-model="client.pickup_date" placeholder="Select Date" class="form-control" />
    </div>
    <div class="col-md-5">
        <label class="control-label">Time</label>
        <input type="text" pick-a-time="time" pick-a-time-options="{ interval: 15 }" ng-model="client.pickup_time" placeholder="Select Time" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg" ng-click="process()">MAKE BOOKING <i class="fa fa-check-square-o"></i></button>
    </div>
</div>