<div class="row" style="margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <img src="img/logo.png" />
    </div>
</div>

<div ng-hide="email_activated" class="alert alert-warning" role="alert">Your email is not yet activated. <a ng-click="activateNow()" class="btn btn-custom btn-sm">Activate now!</a></div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>When:</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-7">
        <label class="control-label">Date</label>
        <input type="text" pick-a-date="date" pick-a-date-options="{ format: 'dd/mm/yyyy' }" ng-model="client.pickup_date" placeholder="Select Date" class="form-control" />
    </div>
    <div class="col-md-5">
        <label class="control-label">Time</label>
        <input type="text" pick-a-time="time" pick-a-time-options="{ interval: 5 }" ng-model="client.pickup_time" placeholder="Select Time" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>We will pick you from:</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <input type="text" ng-model="client.address" id="client_address" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <map center="[{{ client.lat }},{{ client.lng }}]" on-dblclick="changedPosition(event);" disable-double-click-zoom="true">
          <marker 
          position="[{{ client.lat }},{{ client.lng }}]" 
          draggable="true"
          on-dragend="markerDropped();"
        ></marker>
        </map>
    </div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg" ng-click="process()">MAKE BOOKING <i class="fa fa-check-square-o"></i></button>
    </div>
</div>

<script>

$("map").on("click", function() {
    window.focus();
});

</script>