<div ng-hide="email_activated" class="alert alert-warning" role="alert">Your email is not yet activated. <a ng-click="activateNow()" class="btn btn-custom btn-sm">Activate now!</a></div>

<form angular-validator-submit="process()" name="myForm" class="form-horizontal" novalidate angular-validator>
<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>When:</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-xs-7">
        <label class="control-label">Date</label>
        <input 
        type="text" 
        pick-a-date="date" 
        pick-a-date-options="{ format: 'dd/mm/yyyy' }" 
        ng-model="client.pickup_date" 
        placeholder="Select Date" 
        class="form-control"
        validate-on="dirty"
        required-message="'required.'"
        required />
    </div>
    <div class="col-xs-5">
        <label class="control-label">Time</label>
        <input 
        type="text" 
        pick-a-time="time" 
        pick-a-time-options="{ interval: 5 }" 
        ng-model="client.pickup_time" 
        placeholder="Select Time" 
        class="form-control"
        validate-on="dirty"
        required-message="'required.'"
        required />
    </div>
</div>

<div class="form-group" style="margin-top:15px">
    <label class="col-sm-12 control-label">We will pick you from:</label>
    <div class="col-sm-12">
        <input type = "text"
            name = "address"
            id="client_address"
            validate-on="dirty"
            class = "form-control"
            ng-model = "client.address"
            required-message="'This field is required.'"
            placeholder="Enter your postcode"
            required>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <map center="{{ client.address }}" on-dblclick="changedPosition(event);" disable-double-click-zoom="true">
          <marker 
          position="{{ client.address }}" 
          draggable="true"
          on-dragend="markerDropped();"
        ></marker>
        </map>
    </div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg">MAKE BOOKING <i class="fa fa-check-square-o"></i></button>
    </div>
</div>
</form>
<script>

$("map").on("click", function() {
    window.focus();
});

</script>