<div class="row">
    <div class="col-md-12" style="text-align:center">
        <img src="img/logo.png" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <b>We will pick you from:</b>
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <input type="text" ng-model="client.address" id="client_address" class="form-control" />
    </div>
</div>

<div class="row" style="margin-top:15px">
    <div class="col-md-12">
        <map center="[{{ client.lat }},{{ client.lng }}]" on-dblclick="changedPosition(event);" disable-double-click-zoom="true">
          <marker 
          position="[{{ client.lat }},{{ client.lng }}]" 
          draggable="true"
          on-dragend="markerDropped();"
        ></marker>
        </map>
    </div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px">
    <div class="col-md-12" style="text-align:center">
        <button type="submit" class="btn btn-custom btn-lg" ng-click="process()">MAKE BOOKING <i class="fa fa-check-square-o"></i></button>
    </div>
</div>

<script>

$("map").on("click", function() {
    window.focus();
});

</script>